body {
  margin: 0;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.apartment-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.apartment-card:hover {
  transform: scale(1.04) translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}